

.doctor{
   
   background-color:bisque;
   background: radial-gradient(Turquoise,Cyan);
   padding:20px 20px;
   border-radius:10px;
   box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
   .doctor img{
    width:100px;
    height: 100px;
   }
   .regular-button{
    background-color:lightpink;
    width: 150px;
    height: 25px;
    border:1px solid gray;
    border-radius:5px;
    cursor: pointer;
   }